body{
    margin-bottom: 150px;
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    background-image: url("./photos/ignasi_pattern_s.png");
    height: 100vh; 
}


.navbar-custom{
    background-color: white;

}
#logo{
    height: 70px;
    margin-left: 70px;
    background-color: #4aaaa5;
    color: white;
    font-family: Georgia, Times, "Times New Roman", serif;
    font-size: 24px;
    font-weight: bold;
    padding-top:18px;
    padding-bottom: 5px;
}


#navbarNav{
    justify-content: flex-end;
    margin-right: 30px;
}

.navbar-right{
    padding-top: 6px;
    padding-right: 20px;
    font-family: Arial;
    font-weight: lighter;
}

/*-------*/

.contact-form{
    width: 100%;
    background-color: white;
    padding: 45px 10px 25px 31px;
    margin-top: 30px;
}
#name_input,
#mail_input,
#msg {
  width: 95%;
  height: 30px;
  margin-top: 20px;
  margin-bottom: 15px;
}

#msg{
    height: 200px;
}

.label-name,
.label-mail,
.label-msg{
    font-size: 17px;
    color: #bbc;
    border-color: #bbc;
}

.submit-btn{
    background-color: #4aaaa5;
    color: #fff;
    font-size: 16px;
    padding: 15px 30px;
    font-weight: lighter;
    border: 0;
}

#connect-with-me-area{
    background-color: #fff;
    padding: 30px 30px 43px;
    margin-top: 30px;
}
#images{
    text-align: center;
    padding-top: 15px;
}

#images img{
width: 55px;
height: 55px;
}

.connect-with-me-header{
    font-size: 25px;
    font-family: Georgia, Times, "Times New Roman", serif;
    color: #4aaaa5;
    font-weight: 600;
}

footer{
    width: 100%;
    height: 60px;
    margin-top: 90px;
    background-color: #666;
    margin-bottom: 0px;
    color: white;
    text-align: center;
  padding-top: 10px;
  }
  